XML/book_cond.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="books">
 <xs:complexType>
  <xs:sequence>

   <xs:element name="book" maxOccurs="unbounded">
    <xs:complexType>

     <xs:sequence>

      <xs:element name="name">
       <xs:complexType>
        <xs:sequence>
         <xs:element name="firstname" type="xs:string"/>
         <xs:element name="middlename" type="xs:string"/>
         <xs:element name="lastname" type="xs:string"/>
        </xs:sequence>
       </xs:complexType>
      </xs:element>

      <xs:element name="author" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="pageno" type="xs:integer"/>

      <xs:element name="price">
        <xs:simpleType>
         <xs:restriction base="xs:decimal">
           <xs:maxInclusive value="1000"/>
         </xs:restriction>
        </xs:simpleType>
      </xs:element>

     </xs:sequence>

     <xs:attribute name="isbn" type="xs:string" use="required"/>

    </xs:complexType>
   </xs:element>

  </xs:sequence>
 </xs:complexType>
</xs:element>

</xs:schema>